{% extends 'base.html'%}
 {% load crispy_forms_tags %}
 {% load static %}
 {% block title %}
 <title>user verification</title>

 {% endblock%}
 {% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}"  media="screen">
{% endblock %}

{% block body %}

<div class="container  ">
<div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        
        <div class="card card-signin my-5">
         <h5 class="card-title text-center" >Verifiaction</h5>
          <hr >
          
          <div class="card-body">
            
            <form class="form-signin" method="post" action="./reset_pass">
              <div class="form-label-group">
                {% csrf_token %}
              	{{form|crispy}}
                
                
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Verify</button>

              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% block bodycontent %}
{% endblock%}

{% endblock %}
