{% extends 'index.html' %}
{% load static%}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"  media="screen">
{% endblock %}
{% block bodycontent %}

<div class="row py-5 px-4">
    <div class="col-md-5 mx-auto">
        <!-- Profile widget -->
        <!-- <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover"><div class="media align-items-end profile-head"><div class="profile mr-3"><img src="/media/{{request.user.profile.image}}" alt="..." width="130" class="rounded mb-2 img-thumbnail"></div><a href="{% url 'programing:updateprofile' %}" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
                  </div>
                 <div class="media-body mb-5 text-white">
                        {% if request.user.profile.name %}
                        <h4 class="mt-0 mb-0">{{request.user.profile.name}}</h4>
                       <h4 class="mt-0 mb-0">{{request.user.username}}</h4> -->
                       <!-- {% else %}
                       <h4 class="mt-0 mb-0">{{request.user.username}}</h4>
                       {% endif %}

                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>{{request.user.profile.collegename}}</p>
                    </div>
                </div>
            </div> --> 

            <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3">
                        <a href="{% url 'programing:updateimage' %}"><img src="/media/{{request.user.profile.image}}" alt="..." width="130" class="rounded mb-2 img-thumbnail"></a><a href="{% url 'programing:updateprofile' %}" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a></div>
                    <div class="media-body mb-5 text-white">
                        {% if request.user.profile.name %}
                        <h4 class="mt-0 mb-0">{{request.user.profile.name}}</h4>
                        {% else %}
                       <h4 class="mt-0 mb-0">{{request.user.username}}</h4>
                       {% endif %}
                        <p class="small mb-4"> {{request.user.profile.collegename}}<i class="fas fa-map-marker-alt mr-2"></i></p>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <!-- <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">215</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Photos</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">745</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Followers</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">340</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Following</small>
                    </li>
                </ul> -->
            </div>
            <div class="px-4 py-3">
                <h5 class="mb-0">About</h5>
                {% if request.user.profile.about %}
                <div class="p-4 rounded shadow-sm bg-light">
                    <p class="font-italic mb-0"></p>
                    <p class="font-italic mb-0">{{request.user.profile.about}}</p>
                </div>
                {% endif %}
                <h5 class="mb-0">Education</h5>
                <div class="p-4 rounded shadow-sm bg-light">
                    <p class="font-italic mb-0"></p>
                    <p class="font-italic mb-0">course:{{request.user.profile.course}}</p>
                    <p class="font-italic mb-0">Branch:{{request.user.profile.branch}}</p>
                </div>
            </div>
            
        </div>
    </div>

</div>
{% endblock %}